PYTHONPATH=fastapi_app
#POSTGRES
POSTGRES_DB=db
POSTGRES_PASSWORD=postgres
POSTGRES_PASSWORD=password
#PG_ADMIN
PGADMIN_DEFAULT_EMAIL = admin@mail.org
PGADMIN_DEFAULT_PASSWORD = ghjcnjnf
PGADMIN_CONFIG_SERVER_MODE = False


APP_CONFIG__DB__URL = postgresql+asyncpg://user:password@localhost:5432/db
APP_CONFIG__DB__ECHO=0